/* ---------------------------------
=page title
--------------------------------- */

.c-pagetitle {
  font-weight: 600;
  font-size: clamp(
    calc(48 / 16 * 1rem),
    calc(1rem + 6vw),
    calc(102 / 16 * 1rem)
  );
  line-height: 1.14;
  max-width: 24ex;
  margin-bottom: 0.75em;
  color: var(--color-text-invert);
  text-wrap: balance;

  @media (width >= 1024px) {
    line-height: 1.02;
  }
}

.c-pagetitle > span {
  color: var(--color-brand-bright);
}
