---
permalink: about/index.html
---
{% extends "layouts/base.njk" %}

{% from "macros/teamCard.njk" import teamCard %}

{% set currentSection = "about" %}

{% set metaTitle = "About us" %}
{% set metaDescription = "Meet out team. Discover our values." %}

{% block content %}
  <main>
    <div class="c-pagesection  c-pagesection--brand">
      <div class="l-container">
        <h1 class="c-pagetitle  u-mbe-none">Meet the usual <span>suspects</span>.</h1>
      </div>
    </div>

    <div class="c-pagesection">
      <div class="l-container">

          <div class="l-split">
            <h2 class="c-smalltitle">The crew</h2>
            <div>
              <p class="c-intro">Meet our team. We can count on expert partners, should your project require it.</p>
            </div>
          </div>

          <ul class="l-grid  l-grid--2cols@small  l-grid--3cols@large">
            <li>

              {{ teamCard(
                image="https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3",
                name="Marie",
                surname="Phillibert",
                role="Designer"
              ) }}

            </li>
            <li>

              {{ teamCard(
                image="https://images.unsplash.com/photo-1499887142886-791eca5918cd",
                name="Caroline",
                surname="Williams",
                role="Project manager"
              ) }}

            </li>
            <li>

              {{ teamCard(
                image="https://images.unsplash.com/photo-1617140610409-753b80274362",
                name="Yvgenu",
                surname="Marambo",
                role="Front-end developper"
              ) }}

            </li>
            <li>

              {{ teamCard(
                image="https://images.unsplash.com/photo-1634316887741-93ff860c6854",
                name="Sonia",
                surname="Vandevelde",
                role="Back-end developper"
              ) }}

            </li>
            <li>

              {{ teamCard(
                image="https://images.unsplash.com/photo-1607990281513-2c110a25bd8c",
                name="Robert",
                surname="Huot",
                role="Designer"
              ) }}

            </li>
          </ul>

      </div>
    </div>

    <div class="c-pagesection">
      <div class="l-container">

        <div class="l-split">
          <h2 class="c-smalltitle">Our Values</h2>
          <div>
            <p class="c-intro">We believe in the power of the open web. We take on projects when we can add value.</p>

            <ul class="l-grid  l-grid--auto">
              <li>

                <div class="c-value">
                  <h3 class="c-value__title">People over profit</h3>
                  <p class="c-value__text">We all need to make money, but not at the expense of our well-beeing.</p>
                </div>

              </li>
              <li>

                <div class="c-value">
                  <h3 class="c-value__title">Partners, not suppliers</h3>
                  <p class="c-value__text">We see ourselves as a trusted partner. Your project becomes our project.</p>
                </div>

              </li>
              <li>

                <div class="c-value">
                  <h3 class="c-value__title">Share what you know</h3>
                  <p class="c-value__text">The more we all share what we know, the better the world around us.</p>
                </div>

              </li>
              <li>

                <div class="c-value">
                  <h3 class="c-value__title">Question everything</h3>
                  <p class="c-value__text">You'll never come to a smart answer without asking many questions.</p>
                </div>

              </li>
              <li>

                <div class="c-value">
                  <h3 class="c-value__title">Talk it through</h3>
                  <p class="c-value__text">We believe conversations are the best tools to solve problems.</p>
                </div>

              </li>
            </ul>

          </div>
        </div>

      </div>
    </div>

  </main>
{% endblock %}
