---
permalink: index.html
---
{% extends "layouts/base.njk" %}

{% from "macros/projectCard.njk" import projectCard %}

{% set currentSection = "home" %}

{% set metaTitle = "Home" %}
{% set metaDescription = "Your friendly web agency" %}

{% block content %}
  <main>
    <div class="c-pagesection  c-pagesection--brand">
      <div class="l-container">
        <h1 class="c-pagetitle">We don't work <span>for</span> clients, we work <span>with</span> them.</h1>
        <div class="c-homeintro">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, soluta? Iusto culpa debitis id, accusamus nesciunt dolorem sapiente natus similique repudiandae corrupti fuga magnam beatae at, quibusdam aperiam architecto soluta.</p>
          <p><a class="c-ctalink  c-ctalink--invert" href="/projects/">
            Our projects {% include "svg/arrow.svg" %}
          </a></p>
        </div>
      </div>
    </div>
    <div class="c-banner">
      <img src="/assets/img/banner_home_800.jpg"
           srcset="/assets/img/banner_home_800.jpg 800w,
                   /assets/img/banner_home_1024.jpg 1024w,
                   /assets/img/banner_home_1500.jpg 1500w,"
           sizes="100vw"
           loading="lazy"
           decoding="async"
           width="1500"
           height="844"
           alt="people in the office">
    </div>
    <div class="c-pagesection">
      <div class="l-container">

          <div class="l-split">
            <h2 class="c-smalltitle">What we do</h2>
            <div>

              <p class="c-intro">You know your business and clients, we know a thing or two about the web. Let's do this together!</p>

              <ul class="c-vlist  c-vlist--m">
                <li>
                  <article class="c-service">
                    <h3 class="c-service__title">Discovery and planning</h3>
                    <p class="c-service__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore ut, quas nemo ad fuga rerum iusto, quidem veritatis deserunt quos perferendis consequatur doloribus reprehenderit magni cumque omnis! Modi, quam.</p>
                  </article>
                </li>
                <li>
                  <article class="c-service">
                    <h3 class="c-service__title">Design and prototypes</h3>
                    <p class="c-service__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore ut, quas nemo ad fuga rerum iusto, quidem veritatis deserunt quos perferendis consequatur doloribus reprehenderit magni cumque omnis! Modi, quam.</p>
                  </article>
                </li>
                <li>
                  <article class="c-service">
                    <h3 class="c-service__title">Code and interactivity</h3>
                    <p class="c-service__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore ut, quas nemo ad fuga rerum iusto, quidem veritatis deserunt quos perferendis consequatur doloribus reprehenderit magni cumque omnis! Modi, quam.</p>
                  </article>
                </li>
                <li>
                  <article class="c-service">
                    <h3 class="c-service__title">Ongoing support</h3>
                    <p class="c-service__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore ut, quas nemo ad fuga rerum iusto, quidem veritatis deserunt quos perferendis consequatur doloribus reprehenderit magni cumque omnis! Modi, quam.</p>
                  </article>
                </li>
              </ul>

            </div>
          </div>

      </div>
    </div>
    <div class="c-pagesection">
      <div class="l-container">

        <div class="l-split">
          <h2 class="c-smalltitle">Latest projects</h2>
          <div>
            <p class="c-intro">A small selection of projects we have been working on lately.</p>
          </div>
        </div>

        <ul class="l-grid  l-grid--2cols@small  l-grid--4cols@large  u-mbe-xl">
          <li>
            {{ projectCard(
              image="https://images.unsplash.com/photo-1548094990-c16ca90f1f0d",
              url="/projects/detail/",
              title="Institut des Arts de Diffusion",
              tagline="Rebranding an art school"
            ) }}
          </li>
          <li>
            {{ projectCard(
              image="https://images.unsplash.com/photo-1529139574466-a303027c1d8b",
              url="/projects/detail/",
              title="Name of the project",
              tagline="Short Description"
            ) }}
          </li>
          <li>
            {{ projectCard(
              image="https://images.unsplash.com/photo-1575224300306-1b8da36134ec",
              url="/projects/detail/",
              title="Name of the project",
              tagline="Short Description"
            ) }}
          </li>
          <li>
            {{ projectCard(
              image="https://images.unsplash.com/photo-1614145121029-83a9f7b68bf4",
              url="/projects/detail/",
              title="Name of the project",
              tagline="Short Description"
            ) }}
          </li>
        </ul>
        <p><a class="c-ctalink" href="/projects/">More projects {% include "svg/arrow.svg" %}</a></p>


      </div>
    </div>
  </main>
{% endblock %}
