---
permalink: projects/index.html
---
{% extends "layouts/base.njk" %}

{% from "macros/projectCard.njk" import projectCard %}

{% set currentSection = "projects" %}

{% set metaTitle = "Case Studies" %}
{% set metaDescription = "A selection of web projects we worked on with clients" %}

{% block content %}
  <main>
    <div class="c-pagesection  c-pagesection--brand">
      <div class="l-container">
        <h1 class="c-pagetitle  u-mbe-none">A selection of web projects, <span>big</span> and <span>small</span>.</h1>
      </div>
    </div>
    <div class="c-pagesection">
      <div class="l-container">

          <div class="c-categories">
            <nav>
              <h2 class="c-categories__title">Types of work</h2>
              <ul class="c-catlist">
                <li class="c-catlist__item"><a class="c-catlist__link  is-current" href="#">All types</a></li>
                <li class="c-catlist__item"><a class="c-catlist__link" href="#">Education</a></li>
                <li class="c-catlist__item"><a class="c-catlist__link" href="#">Art and culture</a></li>
                <li class="c-catlist__item"><a class="c-catlist__link" href="#">Communication</a></li>
                <li class="c-catlist__item"><a class="c-catlist__link" href="#">Healthcare</a></li>
                <li class="c-catlist__item"><a class="c-catlist__link" href="#">Media</a></li>
                <li class="c-catlist__item"><a class="c-catlist__link" href="#">Science and research</a></li>
              </ul>
            </nav>
          </div>

          <ul class="l-grid  l-grid--2cols@small  l-grid--3cols@medium  l-grid--4cols@large">
            <li>
              {{ projectCard(
                image="https://images.unsplash.com/photo-1548094990-c16ca90f1f0d",
                url="/projects/detail/",
                title="Institut des Arts de Diffusion",
                tagline="Rebranding an art school"
              ) }}
            </li>
            <li>
              {{ projectCard(
                image="https://images.unsplash.com/photo-1529139574466-a303027c1d8b",
                url="/projects/detail/",
                title="Name of the project",
                tagline="Short Description"
              ) }}
            </li>
            <li>
              {{ projectCard(
                image="https://images.unsplash.com/photo-1575224300306-1b8da36134ec",
                url="/projects/detail/",
                title="Name of the project",
                tagline="Short Description"
              ) }}
            </li>
            <li>
              {{ projectCard(
                image="https://images.unsplash.com/photo-1614145121029-83a9f7b68bf4",
                url="/projects/detail/",
                title="Name of the project",
                tagline="Short Description"
              ) }}
            </li>
            <li>
              {{ projectCard(
                image="https://images.unsplash.com/photo-1548094990-c16ca90f1f0d",
                url="/projects/detail/",
                title="Institut des Arts de Diffusion",
                tagline="Rebranding an art school"
              ) }}
            </li>
            <li>
              {{ projectCard(
                image="https://images.unsplash.com/photo-1529139574466-a303027c1d8b",
                url="/projects/detail/",
                title="Name of the project",
                tagline="Short Description"
              ) }}
            </li>
            <li>
              {{ projectCard(
                image="https://images.unsplash.com/photo-1575224300306-1b8da36134ec",
                url="/projects/detail/",
                title="Name of the project",
                tagline="Short Description"
              ) }}
            </li>
            <li>
              {{ projectCard(
                image="https://images.unsplash.com/photo-1614145121029-83a9f7b68bf4",
                url="/projects/detail/",
                title="Name of the project",
                tagline="Short Description"
              ) }}
            </li>
            <li>
              {{ projectCard(
                image="https://images.unsplash.com/photo-1548094990-c16ca90f1f0d",
                url="/projects/detail/",
                title="Institut des Arts de Diffusion",
                tagline="Rebranding an art school"
              ) }}
            </li>
            <li>
              {{ projectCard(
                image="https://images.unsplash.com/photo-1529139574466-a303027c1d8b",
                url="/projects/detail/",
                title="Name of the project",
                tagline="Short Description"
              ) }}
            </li>
            <li>
              {{ projectCard(
                image="https://images.unsplash.com/photo-1575224300306-1b8da36134ec",
                url="/projects/detail/",
                title="Name of the project",
                tagline="Short Description"
              ) }}
            </li>
            <li>
              {{ projectCard(
                image="https://images.unsplash.com/photo-1614145121029-83a9f7b68bf4",
                url="/projects/detail/",
                title="Name of the project",
                tagline="Short Description"
              ) }}
            </li>
          </ul>

          <nav aria-label="pagination">
            <ul class="c-pagination">
              <li class="c-pagination__item"><a class="c-pagination__previous" href="#">First</a></li>
              <li class="c-pagination__item"><a class="c-pagination__link  is-active" href="#">1</a></li>
              <li class="c-pagination__item"><a class="c-pagination__link" href="#">2</a></li>
              <li class="c-pagination__item"><a class="c-pagination__next" href="#">Last</a></li>
            </ul>
          </nav>

      </div>
    </div>
  </main>
{% endblock %}
